// colors

$colorBlue: #022eed;
$colorGrey: #636363;
$color-1: #3d385a; // Martinique
$color-2: #ea4a55; // Mandy
$color-3: #ffffff; // White

// fonts

$primary-font: "Gotham", "Helvetica", sans-serif;
$secondary-font: "Gotham Ultra", "Arial Black", "Helvetica", sans-serif;

$ultra: "Gotham Ultra", "Arial Black", "Helvetica", sans-serif;
$bold: "Gotham Bold", "Helvetica", sans-serif;
$regular: "Gotham", "Helvetica", sans-serif;
$times: Times New Roman, $ultra;
