//
// Main sass file, to import all styles
//

@import 'reset';

@import 'bourbon/_bourbon.scss'; // http://bourbon.io/

@import 'variables'; // colors, fonts etc...

@import "fonts";

@import 'mixins'; // custom mixins

@import 'layout'; // responsive grid and media queries

/* --------------------------------

Primary style

-------------------------------- */

*, *::after, *::before {
	@include box-sizing(border-box);
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
  box-sizing: content-box;

  @include MQ(M) {
    font-size: 50%;
  }

	* {
		-webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
	}
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: #000;
	//background-color: $color-1;
}

body, html {
  overflow-x: hidden;
}


a {
	color: $color-2;
	text-decoration: none;
}

img {
	max-width: 100%;
}

@include MQ(M) {
}



/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */

@import "_components/_header.scss";
@import "_components/_skills.scss";
@import "_components/_works.scss";
@import "_components/fullpage.min.css";

.letter-capt {
  float: right;
  position: relative;
  font-size: 4rem;
  line-height: .7;
  font-family: $ultra;
  text-align: center;

	&::after {
      content: "";
      position: absolute;
      width: 36px;
      height: 10px;
      background: $colorBlue;
      left: 50%;
      margin-left: -18px;
      bottom: -10px;
	}
}

.grey { color: $colorGrey;}
.thin { font-weight: 300;}

.sticky:before,
.sticky:after {
  content: '';
  display: table;
}

.active .work .svg-plus-container {
  opacity: 1;
}
.svg-plus-container {
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 65%;
  margin-top: -5vw;
  left: 0;
  overflow: visible;
  opacity: 1;
  transform: rotate(0deg);
  transition: opacity ease 700ms, transform ease 400ms 600ms;

  @include MQ(mobile) {
    display: none;
    z-index: 200;
  }
  polygon {
    transition: all ease 200ms;
  }
}
.work .svg-plus-container {
  opacity: 0;
}
svg {
  cursor: pointer;
  overflow: visible;

  polyline {
    transform: translate(0,0);
    transition: all ease .2s;
  }
  &:hover polyline {
    transform: translate(5px,5px);
  }
}

.section__heading {
  font-family: $ultra;
  text-transform: uppercase;
  color: #f3f4f5;
  font-size: 10rem;
  display: block;
  position: absolute;
  left: 16%;
  margin-left: -72px;
  top: 8.1vh;


  @include MQ(M) {
    margin-left: -59px;
  }
  @include MQ(mobile) {
    font-size: 7rem;
    margin-left: -39px;
  }
  &.project {
    margin-left: -70px;
    @include MQ(M) {
      margin-left: -57px;
    }
    @include MQ(mobile) {
      margin-left: -39px;
    }
  }

  &:first-letter {
    color: #FFF;
  }
}

.footer {
  background: #FFF;
  height: 100%;

  @include MQ(mobile) {
    height: 100vh;
    width: 100vw;
  }


  &__img {
    width: 45%;
    height: 100%;
    float: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;

    @include MQ(mobile) {
      width: 100vw;
    }

    & img {
      max-height: 80%;
      @include MQ(mobile) {
        max-height: 60%;
      }
    }
  }

  &__content {
    width: 50%;
    height: 100vh;
    float: right;
    padding: 5%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    @include MQ(mobile) {
      position: absolute;
      width: 100%;
      top: 20vh;
    }

    h2 {
      font-size: 3rem;
      font-family: $ultra;
      margin-bottom: 25rem;
    }
  }

  &__contacts {

    h3 {
      font-size: 2rem;
      font-family: $ultra;
      margin-bottom: 5rem;
      text-transform: uppercase;
    }

    ul {
      svg {
        float: left;
        margin-right: 15px;
      }

      li {
        margin-bottom: 15px;
        font-family: $bold;
        font-size: 1.3rem;
        position: relative;
        width: 100%;
        height: 25px;
        display: block;

        a {
          color: #000;
          position: relative;
          display: inline-block;
          height: 25px;
          line-height: 25px;

          &:hover {
            color: $colorBlue;
            svg {
              fill: $colorBlue;
            }
          }
        }

        &.stroke {
          width: 40px;
          float: left;
          a {
            width: 25px;
          }
        }
        &.thin {
          font-family: $regular;
          position: relative;
          margin-bottom: 50px;

          &::after {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -15px;
            height: 4px;
            background: $colorBlue;
          }
        }
      }
    }
  }

}


.fp-viewing-6 {
  .works__info__contacts-link {
    display: none;
    @include MQ(mobile) {
      display: block;
    }
  }
  #mobileSeeStoryBtn {
    display: none;
  }
  .works__info__arrows-down {
    display: none;
  }

  .works__info::before {
    transition: color ease 700ms 300ms, background ease 100ms;
    color: $colorBlue;
    background: #FFF;
  }
}

@include MQ(mobile) {
  .footer__content .footer__contacts {
    display: none;
  }
}















