.skills {

  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  & * { box-sizing: border-box;}

  &__photo-wrap {
    position: absolute;
    width: 45%;
    height: 100vh;
    padding: 0;
    left: 0;
    transition: top .1s, bottom .2s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 0;

    img {
      height: 50%;
      display: inline-block;
    }

  }

  .fp-tableCell {
    overflow: hidden;
  }
  &-mask {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    overflow: hidden;
  }
  &__wrap {

    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    padding-bottom: 10vh;

    transform: translateY(0);
    transition: transform ease 200ms;
  }

  &__block {
    width: 100%;
    margin-bottom: 60px;
    float: left;

    &:last-child {margin-bottom: 0;}

    h3 {
      font-family: $ultra;
      font-size: 2.3rem;
      margin-bottom: 40px;

      .letter-capt {
        margin-right: 10%;
      }
    }
    p {
      width: 100%;
      font-family: $regular;
      font-size: 1.3rem;
      line-height: 1.3;
      margin-bottom: 4rem;

      &.black {
        font-family: $bold;
      }
    }

    .strip {
      width: 100%;
      height: 2px;
      background: #000;
    }

    &__ul {

      margin-bottom: 30px;

      & > li {

        padding-left: 30px;

        &::before {

          content: ">>";
          display: inline-block;
          font-family: $bold;
          color: $colorBlue;

          position: absolute;
          left: 0;

        }
      }

    }

    li {
      width: 100%;
      margin-bottom: 15px;
      font-family: $regular;
      font-size: 1.3rem;
      line-height: 1.3;
      position: relative;
    }

    &__core {

      width: 50%;
      margin-bottom: 30px;

      &.full-width {
        width: 100%;
      }
      &:last-child {
        margin-bottom: 0;
      }

      h4 {
        font-family: $bold;
        margin-bottom: 20px;
        font-size: 1.4rem;

        &::after {
          content: ":";
          display: inline;
          color: $colorBlue;
        }

      }

    }

  }

  ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;

    &::before {
      content: "+";
      position: absolute;
      left: 0;
      color: $colorBlue;
    }

  }

  &__block-self {
    margin-bottom: 4rem;

    .blue {
      color: $colorBlue;
    }
    h4 {
      font-family: $bold;
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }
    .where {
      font-family: $regular;
      font-size: 1.4rem;
      display: block;
      width: 100%;
      margin-bottom: 1.5rem;
    }
    .date {
      font-family: $regular;
      font-size: 1.3rem;
      color: $colorGrey;
      display: block;
      width: 100%;
    }
    ul li {
      margin-bottom: 1rem;

      a {
        color: #000;
        &:hover {
          color: $colorBlue;
          text-decoration: underline;
        }
      }
    }
  }

}
.core-skills {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  h3 {
    width: 100%;
  }
}
