#workWrap_0 { z-index: 150;}
.works {
  position: relative;
  width: 100%;
  transform: translateX(0);
  transition: transform ease 700ms;

  &.with-story {
    transform: translateX(-55%);
    @include MQ(mobile) {
      transform: translateX(-100%);
    }
  }

  &__info {

    height: 100vh;
    width: 45%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;

    transform: translate3d(0, 0, 0);
    transition: all 700ms ease;

    @include MQ(mobile){
      width: 100vw;
    }

    .svg-plus-container {
      display: none;
      width: 20vw;
      height: 20vw;
      left: auto;
      top: 30vh;
      margin-right: -30px;
      right: 16%;
      @include MQ(mobile){
        display: block;
      }
    }

    &.hide {
      transform: translate3d(-100%, 0, 0);

      .svg-plus-container {
        transform: rotate(-405deg);
        @include MQ(mobile) {
          transform: rotate(-405deg) translateX(60vw);
        }
      }

      @include MQ(mobile) {
        transform: none;
      }

      .works__info__nav {
        opacity: 0;
        transform: translateX(-100px);
      }
    }

    &::before {
      content: "mp.";
      position: absolute;
      display: block;
      width: 16%;
      background: $colorBlue;
      color: #FFF;
      font-family: $ultra;
      font-size: 2rem;
      line-height: 0.3;
      padding-left: calc(16% - 67px);
      padding-top: 5vh;
      height: 20vh;

      @include MQ(M) {
        padding-left: calc(16% - 55px);
      }
      @include MQ(mobile) {
        padding-left: calc(16% - 36px);
      }
    }

    @for $i from 0 through 7 {
      &__for-#{$i} {
        transform: translate3d(0, 100vh*$i, 0);

        &.hide {
          transform: translate3d(calc(-100% + 2px), 100vh*$i, 0);
          @include MQ(mobile) {
            transform: translate3d(0, 100vh*$i, 0);
            @if $i != 0 {
              transform: translate3d(-100vw, 100vh*$i, 0);
            }
          }
        }

        .works__info__nav:before {
          transform: scaleY( ($i + 1)/7 + 1/14 );
        }

        .work__names-mask,
        .work__dates-mask,
        .work__types-mask,
        .work__short-mask,
        .work__role-mask {
          ul {
            transform: translateY(-100% * $i);
          }
        }
      }
    }


    &__nav {
      height: 100vh;
      position: absolute;
      right: 0;
      top: 0;
      width: 2px;
      background: #e4e9fd;
      z-index: 100;

      opacity: 1;
      transition: opacity ease 700ms;

      @include MQ(mobile) {
        transform: translateX(-99.5vw);
        z-index: 600;
        .works__info__nav_num {
          display: none;
        }
      }

      .nav_item {
        position: absolute;
        width: 2px;
        height: (100vh / 7);
        cursor: pointer;
        z-index: 150;

        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 4px;
          height: 4px;
          border-radius: 2px;
          background: $colorBlue;
          top: 50%;
          left: 50%;
          margin-left: -2px;
          margin-top: -2px;

          transition: width ease 500ms;
        }

        &:hover {
          .works__info__nav_name {
            transform: translateX(-20px) rotateY(0deg);
            opacity: 1;
          }
          .works__info__nav_num {
            color: #14228D;
            transform: translateX(20px);
          }
          &:before {
            width: 24px;
          }
        }
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 2px;
        height: 100%;
        left: 0;
        top: 0;
        background: $colorBlue;

        transform-origin: center top;
        transform: scaleY(0);

        transition: transform ease 700ms;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        background: #f3f4f5;
        width: 55vw;
        left: 2px;
        box-shadow: -10px 10px 0px rgba(88, 88, 88, 0.2);

        transform-origin: left center;
        transform: scaleX(0);
        transition: transform ease 300ms, box-shadow ease 300ms;

        @include MQ(mobile) {
          width: 100vw;
        }
      }

      &.active {
        &::after {
          transform: scaleX(1);
          box-shadow: -20px 20px 25px rgba(88, 88, 88, 0.2);
        }

        & + .works__info__menu-link {
          svg {
            transform: rotate(405deg) translateX(20px);
          }
        }

        .nav_item {

          &::after {
            //content: "";
            display: block;
            width: 55vw;
            height: 1px;
            top: 50%;
            border-bottom: 1px dotted $colorBlue;
          }
        }

        .works__info__nav_num {
          color: #14228D;
          display: flex;
          transform: translateX(45px);
          @include MQ(mobile) {
            transform: translateX(15px);
          }
        }
        .works__info__nav_name {
          display: none;
        }
        .works__info__nav_menu-text {
          opacity: 1;
          visibility: visible;
        }

        @for $i from 0 through 6 {
          .works__info__nav_#{$i} {
            .works__info__nav_num {
              transition: transform ease 300ms $i*50ms;
            }

          }
        }
      }

      &_name {
        color: #14228d;
        font-family: $regular;
        font-size: 1rem;
        height: 100%;
        position: absolute;
        right: 5px;
        padding-right: 25px;
        margin-right: -25px;
        opacity: 0;
        white-space: nowrap;
        transform: translateX(-20px) rotateY(-90deg);
        transform-origin: right center;
        transition: all ease 400ms 400ms;
        top: 1px;

        display: flex;
        align-items: center;
      }
      &_num {
        color: #bcbcbc;
        font-family: $regular;
        font-size: 1.2rem;
        height: 100%;
        position: absolute;
        left: 5px;
        top: 1px;
        transform: translateX(0);
        transition: all ease 400ms;

        padding-left: 50px;
        margin-left: -50px;

        display: flex;
        align-items: center;
      }
      &_menu-text {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        width: calc(55vw - 100px);
        height: 100%;
        left: 100px;
        display: flex;
        align-items: center;

        @include MQ(mobile) {
          width: calc(100vw - 60px);
          left: 60px;
        }

        h4 {
          font-size: 1.2rem;
          font-family: $bold;
          white-space: nowrap;
          display: inline-block;
          margin-right: 10px;
        }
        span {
          font-size: 1.2rem;
          font-family: $regular;
          color: #14228D;
        }
      }

      @for $i from 0 through 6 {
        &_#{$i} {
          top: (100vh / 7) * $i;
        }
      }
    }

    &__contacts-link,
    &__menu-link {
      position: absolute;
      font-family: $ultra;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 1.4rem;
    }
    &__contacts-link {
      left: 16%;
      bottom: 10%;
      padding: 0 0 30px 30px;
      margin-left: -30px;
      margin-bottom: -30px;

      transform: translateX(0);
      transition: transform ease 500ms;
      svg {
        position: absolute;
        left: -3px;
        bottom: -3px;
        cursor: pointer;
        overflow: visible;

        transform: rotate(0deg) translateY(0);
        transition: transform ease 500ms 600ms;
      }
      polygon {
        transition: all ease 200ms;
      }
      polyline {
        transform: translate(0, 0);
        transition: all ease .2s;
      }
      &:hover {
        polyline {
          transform: translate(5px,5px);
        }
      }
    }

    &__menu-link {
      right: 16%;
      top: 5%;
      padding: 30px 30px 0 0;
      margin-right: -30px;
      margin-top: -30px;

      transform: translateX(0);
      transition: transform ease 500ms;
      @include MQ(mobile) {
        top: 7%;
      }
      svg {
        position: absolute;
        right: -6px;
        top: -2px;
        transform: rotate(0deg) translateX(0);
        transition: transform ease 500ms 600ms;
      }
      polygon {
        transition: all ease 200ms;
      }
      svg {
        cursor: pointer;
        overflow: visible;

        polyline {
          transform: translate(0,0);
          transition: all ease .2s;
        }
      }
      &:hover {
        polyline {
          transform: translate(5px,5px);
        }
      }
    }

  }// END WORKS__INFO

  &__promo {
    width: 45%;
    float: right;

    @include MQ(mobile) {
      position: absolute;
      top: 0;

      .work {
        &__img-wrap {
          width: 100vw;
          height: 30vh;
          position: absolute;
          top: 0;
          transform: rotateX(-45deg) rotateZ(-45deg) rotateY(-10deg) translateX(-20vh) translateY(20vh) scale(.8);
        }

        height: 100%;
        img {
          max-height: 100%;
        }
      }
    }

  }

}

.with-story {
  .work {

    &__img-wrap {
      transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translateX(0%) translateY(0%) scale(1);
      @include MQ(mobile) {
        transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translateX(100vw) translateY(0) scale(1);
      }

    }

  }

  .works__promo {
    width: 45%;
  }
}

.work {

  height: 100vh;
  width: 100%;
  position: relative;

  &__img-wrap {

    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
    box-shadow: -20px 20px 15px rgba(88, 88, 88, .1);

    display: flex;
    justify-content: center;
    align-items: flex-end;

    background: #f3f4f5;

    transform-style: preserve-3d;
    transform: rotateX(-45deg) rotateZ(-45deg) rotateY(-10deg) translateX(0) translateY(0) scale(.8);
    transition: transform ease 0.6s;

    @include MQ(mobile) {
      height: 30vh;
      width: 100vw;
    }

    &.center-top {
      align-items: flex-start;
    }
    &.right-bottom {
      justify-content: flex-end;
      align-items: flex-end;
    }
    &.center {
      align-items: center;
    }

    .capture {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 10%;
      font-family: $bold;
      font-size: 3rem;
    }

    img {

    }
  }

  //MASKS
  &__names-mask,
  &__dates-mask,
  &__types-mask,
  &__short-mask,
  &__role-mask {
    ul {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateY(0);
      transition: transform ease 400ms;
    }
  }
  &__names-mask ul {
    transition-delay: 0ms;
  }
  &__dates-mask ul {
    transition-delay: 100ms;
  }
  &__types-mask ul {
    transition-delay: 200ms;
  }
  &__short-mask ul {
    transition-delay: 200ms;
  }
  &__role-mask ul {
    transition-delay: 500ms;
  }

  &__names-mask {
    top: calc(50% - 12rem);
    position: absolute;
    left: 16%;
    height: 10rem;
    overflow: hidden;

    li {
      font-family: $ultra;
      font-size: 6rem;
      color: $colorBlue;
      font-weight: bold;
      height: 10rem;
      line-height: 10rem;
      white-space: nowrap;
      @include MQ(mobile) {
        font-size: 4rem;
      }
    }
  }
  &__dates-mask {
    top: calc(50% - 2rem);
    position: absolute;
    left: 16%;
    height: 2rem;
    overflow: hidden;

    li {
      text-transform: lowercase;
      font-family: $regular;
      font-size: 1.4rem;
      color: #636363;
      height: 2rem;
      line-height: 2rem;
      white-space: nowrap;
    }
  }
  &__types-mask {
    top: calc(45% + 8rem);
    position: absolute;
    left: 16%;
    height: 1.8rem + 2rem;
    overflow: hidden;

    li {
      font-family: $bold;
      font-size: 1.8rem;
      height: 1.8rem + 2rem;
      line-height: 1.8rem;
      white-space: nowrap;
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 4rem;
        height: .8rem;
        background: #000;
        bottom: 3px;
        left: 0;
      }
    }
  }
  &__short-mask {
    top: calc(45% + 12rem);
    position: absolute;
    left: 16%;
    height: auto;
    overflow: hidden;

    li {
      font-family: $regular;
      font-size: 1.3rem;
      line-height: 1.5;
      height: auto;
      padding-right: 5rem;
      position: relative;

      .bold {
        font-family: $bold;
      }
    }
  }
  &__role-mask {
    top: calc(45% + 15rem);
    position: absolute;
    left: 16%;
    height: 1.8rem;
    overflow: hidden;

    li {
      font-family: $regular;
      font-size: 1.4rem;
      color: $colorBlue;
      height: 1.8rem;
      line-height: 1.8rem;
      white-space: nowrap;
    }
  }

}

.works__story {

  height: 100vh;
  position: absolute;
  width: 55%;
  top: 0;
  right: -55%;

  @include MQ(mobile){
    width: 100%;
    right: -100%;
    height: 80vh;
    top: 30vh;
  }

  &-after {
    position: absolute;
    right: 0;
    top: 0;
    height: 23.5vh;
    padding-top: 14vh;
    background: $colorBlue;
    width: 13.5%;
    text-align: center;
    color: #FFF;
    font-size: 5rem;
    font-family: $times;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-format {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 14vh 13.5%;
  }

  &-name {
    font-size: 5rem;
    font-family: $times;
    font-weight: bold;
    color: $colorBlue;
    text-transform: uppercase;
    margin-bottom: 15vh;
  }
  &-date {
    font-size: 1.6rem;
    font-family: $regular;
    color: #636363;
    margin-bottom: 3vh;
    display: block;
    width: 100%;
  }

  h3 {
    height: 10rem;
    line-height: 10rem;
    font-family: $bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    border-bottom: 5px solid $colorBlue;
    margin-bottom: 7rem;
  }

  p {
    font-family: $regular;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 4rem;
  }

  ul {
    margin-bottom: 4rem;
  }

  li {
    font-family: $regular;
    font-size: 1.4rem;
    line-height: 1.5;
    position: relative;
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .black {
    font-family: $bold;
  }
  .blue {
    color: $colorBlue;
  }

}


.works__info__contacts {
  width: 100%;
  height: 100%;
  padding: 20vh 10%;
  background: #f3f4f5;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 600;
  box-shadow: 20px 5px 0px rgba(88, 88, 88, 0);
  transform: scale(1) translateX(-100%);
  transition: transform ease 500ms, box-shadow ease 500ms;

  @include MQ(mobile) {
    padding: 5vh 10% 20vh;
    .footer__contacts {
      h3 {
        margin-bottom: 2rem;
      }
      ul {
        li.thin {
          margin-bottom: 30px;
        }
        li {
          height: 20px;
          margin-bottom: 10px;
          a {
            height: 20px;
          }
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  &.active {
    transform: scale(1) translateX(0%);;
    box-shadow: 20px 5px 25px rgba(88, 88, 88, 0.2);
  }
  h2 {
    font-size: 3rem;
    font-family: $ultra;
    margin-bottom: 20vh;
  }

  &-link {
    z-index: 600;

    @include MQ(mobile) {
      z-index: 400;
      transition: z-index step-end 600ms;
    }
  }
  &.active + .works__info__contacts-link {
    @include MQ(mobile) {
      z-index: 700;
      transition: z-index step-start 600ms;
    }
    svg {
      transform: rotate(-405deg) translateY(-20px);
    }
  }
}

@include MQ(mobile) {
  .works__info__menu-link {
    z-index: 400;
    transition: z-index step-end 600ms;
  }
  .works__info__nav.active + .works__info__menu-link {
    z-index: 600;
    transition: z-index step-start 600ms;
  }
}


.works__info__arrows {
  position: absolute;
  bottom: 10%;
  margin-bottom: -60px;
  margin-right: -30px;
  right: 16%;
  width: 40px;
  height: 120px;

  svg {
    cursor: pointer;
    overflow: visible;

    polyline {
      transform: translate(0,0) scale(.98);
      transform-origin: center;
      transition: all ease .2s;
    }
  }

  &-up {
    position: absolute;
    left: 0;
    top: 0;
    &:hover polyline {
      transform: translate(-15px, -10px) scale(.9);
    }
  }
  &-down {
    position: absolute;
    left: 0;
    bottom: 0;
    &:hover polyline {
      transform: translate(15px, 10px) scale(.9);
    }
  }
}






